.git
.github
.azure
.aspire
_tmp
.env
.env.*
.DS_Store
*.sqlite
*.sqlite-shm
*.sqlite-wal

**/bin
**/obj

src/frontend/node_modules
src/frontend/dist
src/frontend/coverage

TestResults
coveragereport
